{% extends 'base.html' %}
{%block content%}
<h2>Addresses</h2>
<p id="to-form"><a href="#new_address">go to form</a></p>
<ul>
        {%for address in addresses%}
            <li><a href="{{url_for('get_address',name=address.name)}}">
                {{address.name}}</a></li>
        {%endfor%}
    
    <form name="form" id="new_address" method="POST">
        <label id="form-label" for="form">New Address Form: </label> <br><br>
        {{form.csrf_token}}
        {{ form.name.label }}
        {{ form.name() }}
        {{ form.street.label }}
        {{ form.street() }}
        {{ form.city.label }}
        {{ form.city() }}
        {{ form.province.label }}
        {{ form.province() }}
        <input id="button" type="submit" />
    </form>
</ul>
{%endblock%}